$white:  #ffffff;

$main-headerarea-bg: #bab8b8;
$main-mainarea-bg: #F7F5F5;
$main-border: #cbd5e0;
/*
$main-accent-color: rgb(255, 192, 203);
$main-accent-color-hover: rgba(255, 192, 203, 0.4);
$main-accent-color: rgb(95, 189, 206);
$main-accent-color-hover: rgba(95, 189, 206, 0.4);
*/
$main-accent-color: rgb(186, 184, 184);
$main-accent-color-hover: rgba(186, 184, 184, 0.4);
$icon-color-hover: rgba(186, 184, 184, 0.2);

$form-main: #e2e8f0;
$form-main-darker: #dde4ed;