$white:  #ffffff;

$main-headerarea-bg: #BAB8B8;
$main-mainarea-bg: #F7F5F5;
$main-border: #cbd5e0;
$main-accent-color: rgb(255, 192, 203);
$main-accent-color-hover: rgba(255, 192, 203, 0.4);

$form-main: #e2e8f0;
$form-main-darker: #dde4ed;