input[type="text"] {
  width: 300px;
  padding: 10px;
  border: solid 1px $form-main;
  border-radius: .25rem;
  font-size: 100%;
  &:hover {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  }
}
button {
  padding: 10px;
  background-color: $form-main-darker;
  border: solid 1px $form-main-darker;
  border-radius: .25rem;
  font-size: 90%;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}
button:hover {
  opacity: 1;
}

.icon_img_conteiner {
  display: flex;
  align-items: center;
  &_aligntop {
    align-items: top;
  }
}
.icon_img {
  width: 20px !important;
  height: 20px !important;
  &--large {
    width: 30px !important;
    height: 30px !important;
  }
}
.icon_clickable:hover {
  background-color: $icon-color-hover;
  border-radius: 0.25rem;
}