$form-main: #e2e8f0;
$form-main-darker: #dde4ed;
input {
  width: 300px;
  padding: 10px;
  border:solid 1px $form-main;
  border-radius: .25rem;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  font-size: 100%;
}
button {
  padding: 10px;
  background-color: $form-main-darker;
  border:solid 1px $form-main-darker;
  border-radius: .25rem;
  font-size: 90%;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}
button:hover {
  opacity: 1;
}